:root {
    --accent: #1e6b8c;
    --dark: #222;
    --light: #fffff6;
}
#canvas {
    max-width: calc(100vw - 1rem);
    max-height: calc(100vh - 5rem);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    font-size: medium;
    overflow-y: hidden;
}

body {
    font-family: Fira Sans, sans-serif;
    background-color: var(--dark);
    color: var(--light);
    margin: 2rem auto 8rem;
    padding: 0 2em;
    width: auto;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, dt {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 2em;
}

h1 {
    text-align: center;
}

nav {
    margin: 1em;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
}
nav>* {
    margin-left: 1em;
    margin-right: 1em;
}

button, select {
    background: transparent;
    color: var(--accent);

    border: 2px solid var(--accent);
    border-radius: 0.3em;
    padding: 0.4em;
}

button:hover, select:hover {
    cursor: pointer;
    background: var(--accent);
    color: var(--light);

}
